// // плейсхолдер
// %align-center {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// // використовувати @extend %align-center;


// .container {
//     @extend %align-center
    
// }

// .box {
//     @extend %align-center
// }

// .container, 
// .box {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }