:root {
  --font-family: "DM Sans", sans-serif;
  
  --primary-text-color: #111;
  --secondary-text-color: #b4afaf;
  --category-list-color: rgba(17, 17, 17, 0.6);
  --shopping-empty-list-color: rgba(0, 0, 0, 0.6);
  --button-hover-text-color: #fff;
  --bg-color: #f6f6f6;
  --card-bg-color:  #fff;
  --header-border: 1.50px solid #111;
  --accent-color: #4f2ee8;
  --scroll-color:  #e0e0e0;
  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --support-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  --support-gradient: radial-gradient(183.6% 183.01% at 59.76% -23.42%,
          var(--accent-color) 18.03%,
          #ffffff 100%);
  
  --loader-color: #1a1a2e;

  [data-theme='dark'] {
  --primary-text-color: #fff;
  --secondary-text-color: #b4afaf;
  --category-list-color: rgba(255, 255, 255, 0.6);
  --shopping-empty-list-color:  rgba(255, 255, 255, 0.6);
   --button-hover-text-color: #111;
  --bg-color: #202024;
  --card-bg-color:   #111;
  --header-border: 1.50px solid #fff;
  --accent-color: #4f2ee8;
   --scroll-color: rgba(17, 17, 17, 0.6);
  }
}
//Support component variables//
$bp-tablet: 768px;
$bp-desktop: 1440px;