:root {
  --font-family: "DM Sans", sans-serif;
  
  --primary-text-color: #111;
  --secondary-text-color: #b4afaf;
  --category-list-color: rgba(17, 17, 17, 0.6);
  --shopping-empty-list-color: rgba(0, 0, 0, 0.6);
  --bg-color: #f6f6f6;
  --card-bg-color:  #fff;
  --header-border: 1.50px solid #111;
  --accent-color: #4f2ee8;

  [data-theme='dark'] {
  --primary-text-color: #fff;
  --secondary-text-color: #b4afaf;
  --category-list-color: rgba(255, 255, 255, 0.6);
  --shopping-empty-list-color:  rgba(255, 255, 255, 0.6);
  --bg-color: #202024;
  --card-bg-color:   #111;
  --header-border: 1.50px solid #fff;
  --accent-color: #4f2ee8;
  }
}
//Support component variables//

$white: #fff;
$accent: #4f2ee8;
$shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);

$bp-tablet: 768px;
$bp-desktop: 1440px;