<header class="header">
  <div class="container container-header">
    <nav class="header-nav">
      <!-- Логотип -->
      <a class="header-logo" href="../index.html">
        <svg class="header-logo-svg" width="24" height="24">
          <use href="../icons/symbol-defs.svg#icon-logo"></use>
        </svg>
        Bookshelf
      </a>

      <!-- Desktop navigation -->
      <div class="desktop-nav  hidden" id="desktop-nav">
        <ul class="menu-ul">
          <li class="menu-li-home">
            <a href="../index.html" class="menu-home">Home</a>
          </li>
          <li class="menu-li-shop">
            <a href="../shopping-list.html" class="menu-shopping-list">
              Shopping List
              <svg class="icon-shop" width="20" height="20">
                <use href="../icons/symbol-defs.svg#icon-uil-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- Theme toggle -->
      <div class="toggle" aria-label="Theme switch"></div>

      <!-- Sign up -->
      <button class="header-btn" id="sign-up-btn">
        Sign up
        <svg class="btn-arrow" width="22" height="22">
          <use href="../icons/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <!--User-->
      <button class="user-btn hidden" id="user-btn">
        <span class="user-avatar">
          <svg class="user-avatar-default" width="13" height="17">
            <use href="../icons/symbol-defs.svg#icon-user"></use>
          </svg>
        </span>

        <span class="user-name" id="user-name"></span>

        <svg class="user-arrow" width="23" height="26">
          <use href="../icons/symbol-defs.svg#icon-down-arrow"></use>
        </svg>
      </button>

      <!-- Burger buttons -->
      <button type="button" class="header-menu" id="menu" aria-label="Open menu" data-modal-open>
        <svg class="header-menu-svg" width="28" height="28">
          <use href="../icons/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <button type="button" class="header-menu-close disabled" id="menu-close" aria-label="Close menu" data-modal-close>
        <svg class="header-menu-close-svg" width="22" height="22">
          <use href="../icons/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile" id="mobile-menu">

  <!-- TOP -->
  <div class="mobile-menu">
    <ul class="mob-menu-list">
      <li>
        <a class="mob-menu-link" href="../index.html">Home</a>
      </li>
      <li>
        <a class="mob-menu-list-link" href="../shopping-list.html">
          Shopping List
          <svg class="list-svg" width="20" height="20">
            <use href="../icons/symbol-defs.svg#icon-uil-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- BOTTOM -->
  <div class="mobile-bottom">
    <button class="long-bth">
      Log in
      <svg class="btn-arrow" width="22" height="22">
        <use href="../icons/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button>

    <div class="image">
      <img class="mob-books-img" srcset="../img/mob-menu/mob-menu-1x-min.png, ../img/mobile-menu/mob-menu-2x-min.png"
        src="../img/mobile-menu/mob-menu-1x-min.png" alt="Books illustration" loading="lazy" width="450" />
    </div>
  </div>

</div>

<div class="auth-backdrop hidden" id="auth-backdrop">
  <div class="auth-modal">

    <button class="auth-close" id="auth-close" aria-label="Close auth modal">
      <svg class="auth-close-svg" width="28" height="28">
        <use href="../icons/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>

    <form id="auth-form">

      <div class="auth-input">
        <input type="text" id="auth-name" placeholder="Name" required />
      </div>

      <div class="auth-input">
        <input type="email" id="auth-email" placeholder="Email" required />
        <svg class="auth-input-icon" width="28" height="28">
          <use href="../icons/symbol-defs.svg#icon-mail"></use>
        </svg>
      </div>

      <div class="auth-input">
        <input type="password" id="auth-password" placeholder="Password" required />
        <svg class="auth-input-icon" width="28" height="28">
          <use href="../icons/symbol-defs.svg#icon-lock"></use>
        </svg>
      </div>

      <button type="submit" class="auth-submit">Sign up</button>
    </form>
  </div>
</div>