<header class="header">
  <div class="container container-header">
    <nav class="header-nav">

      <a class="header-logo" href="./index.html">
        <svg class="header-logo-svg" width="24" height="24">
          <use href="/icons/symbol-defs.svg#icon-logo"></use>
        </svg>
        Bookshelf
      </a>

      <div class="desktop-nav hidden" id="desktop-nav">
        <ul class="menu-ul">
          <li class="menu-li-home">
            <a href="./index.html" class="menu-home">Home</a>
          </li>
          <li class="menu-li-shop">
            <a href="./shopping-list.html" class="menu-shopping-list">
              Shopping List
              <svg class="icon-shop" width="20" height="20">
                <use href="/icons/symbol-defs.svg#icon-uil-cart"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="toggle" aria-label="Theme switch"></div>

      <button class="header-btn" id="header-sign-up-btn">
        Sign up
        <svg class="btn-arrow" width="22" height="22">
          <use href="/icons/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>

      <button type="button" class="user-btn hidden" id="header-user-btn">
        <span class="user-avatar">
          <svg class="user-avatar-default" width="13" height="17">
            <use href="/icons/symbol-defs.svg#icon-user"></use>
          </svg>
        </span>
        <span class="user-name" id="header-user-name"></span>
        <svg class="user-arrow" width="23" height="26">
          <use href="/icons/symbol-defs.svg#icon-down-arrow"></use>
        </svg>
      </button>

      <button type="button" class="header-menu" id="menu-open-btn">
        <svg class="header-menu-svg" width="28" height="28">
          <use href="/icons/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <button type="button" class="header-menu-close disabled" id="menu-close-btn">
        <svg class="header-menu-close-svg" width="22" height="22">
          <use href="/icons/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>

    </nav>
  </div>
</header>