<div class="list-empty">
  <p class="list-empty-message list-empty-message-shopping">
    This page is empty, add some books and proceed to order.
  </p>
  <p class="list-empty-message list-empty-message-home">
    This page is empty. There aren't any books.
  </p>
  <picture class="list-empty-img">
    <source
      srcset="
        ./img/shopping-list/books-des-tablet.webp    1x,
        ./img/shopping-list/books-des-tablet@2x.webp 2x
      "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        ./img/shopping-list/books-des-tablet.webp    1x,
        ./img/shopping-list/books-des-tablet@2x.webp 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./img/shopping-list/books-mobile.webp    1x,
        ./img/shopping-list/books-mobile@2x.webp 2x
      "
      media="(max-width: 767px)"
    />
    <img
      class="list-empty-img"
      src="./img/shopping-list/books-des-tablet.webp"
      alt="Books image"
      width="265"
      height="198"
    />
  </picture>
</div>
