<div class="mobile" id="mobile-menu">
    <div class="mobile-menu">

        <button type="button" class="user-btn user-btn-mobile hidden" id="mob-user-btn">
            <span class="user-avatar">
                <svg class="user-avatar-default" width="13" height="17">
                    <use href="/icons/symbol-defs.svg#icon-user"></use>
                </svg>
            </span>
            <span class="user-name" id="mob-user-name"></span>
        </button>

        <ul class="mob-menu-list">
            <li>
                <a class="mob-menu-link" href="/index.html">Home</a>
            </li>
            <li>
                <a class="mob-menu-list-link" href="/shopping-list.html">
                    Shopping List
                    <svg class="list-svg" width="20" height="20">
                        <use href="/icons/symbol-defs.svg#icon-uil-cart"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <div class="mobile-bottom">

        <button class="sing-mob-bth" id="mob-login-btn">
            Sign up
            <svg class="btn-arrow" width="22" height="22">
                <use href="/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>

        <button class="long-bth hidden" id="mob-logout-btn">
            Log out
            <svg class="btn-arrow" width="22" height="22">
                <use href="/icons/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>

        <div class="image">
            <img class="mob-books-img" src="/img/mob-menu/mob-menu-1x-min.png" srcset="
        /img/mob-menu/mob-menu-1x-min.png 1x,
        /img/mob-menu/mob-menu-2x-min.png 2x
        " alt="Books illustration" />
        </div>

    </div>
</div>