@forward "./main-title";
@forward "./main-title";
@forward "./book-card-title";
@forward "./book-card-author";
@forward "./support";
@forward "./main-section-books-list";
@forward "./main-section-category-list";
@forward "./scroll-up";