@use "../utils/mixins" as m;

.list-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-empty-message {
    max-width: 244px;
    margin-bottom: 14px;
    @include m.font($fs: 14px, $lh: 18px, $ls:-0.02em);
    text-align: center;
    color: var(--shopping-empty-list-color);
}

@media screen and (min-width: 768px) {
    .list-empty-message {
        max-width: 350px;
        margin-bottom: 20px;
        @include m.font($fs: 18px, $lh: 18px, $ls:-0.02em);

    }
}

.empty-list-hidden {
    display: none;
}

.list-empty-message-hidden {
    display: none;
}