.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: var(--loader-color); 
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
    text-shadow: 0 0 5px rgba(26,26,46,0.6);
}

@keyframes mltShdSpin {
  0% {
    box-shadow:
      0 -0.83em 0 -0.4em currentColor,
      0 -0.83em 0 -0.42em currentColor,
      0 -0.83em 0 -0.44em currentColor,
      0 -0.83em 0 -0.46em currentColor,
      0 -0.83em 0 -0.477em currentColor;
  }

  10%,
  59% {
    box-shadow:
      0 -0.83em 0 -0.4em currentColor,
      -0.087em -0.825em 0 -0.42em currentColor,
      -0.173em -0.812em 0 -0.44em currentColor,
      -0.256em -0.789em 0 -0.46em currentColor,
      -0.297em -0.775em 0 -0.477em currentColor;
  }

  20% {
    box-shadow:
      0 -0.83em 0 -0.4em currentColor,
      -0.338em -0.758em 0 -0.42em currentColor,
      -0.555em -0.617em 0 -0.44em currentColor,
      -0.671em -0.488em 0 -0.46em currentColor,
      -0.749em -0.34em 0 -0.477em currentColor;
  }

  38% {
    box-shadow:
      0 -0.83em 0 -0.4em currentColor,
      -0.377em -0.74em 0 -0.42em currentColor,
      -0.645em -0.522em 0 -0.44em currentColor,
      -0.775em -0.297em 0 -0.46em currentColor,
      -0.82em -0.09em 0 -0.477em currentColor;
  }

  100% {
    box-shadow:
      0 -0.83em 0 -0.4em currentColor,
      0 -0.83em 0 -0.42em currentColor,
      0 -0.83em 0 -0.44em currentColor,
      0 -0.83em 0 -0.46em currentColor,
      0 -0.83em 0 -0.477em currentColor;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
    display: none;
}

@media screen and (min-width: 1440px) {
  .loader {
    position: absolute;
  }
}