@use "../utils/mixins" as m;

.main-title {
    margin-bottom: 40px;
    @include m.font($fs: 48px, $fw: 700, $lh: 52px);
    color: var(--primary-text-color);
    span {
        color: var(--accent-color);
    }
}
