@use '../utils/mixins' as m;

[data-booklist='books-by-category'] {
  display: grid;
  grid-template-columns: 335px;
  gap: 40px;
}

.book-card-cover {
  width: 335px;
  height: 485px;
  margin-bottom: 14px;
}

//===== styles for top books

.top-books-category-title {
  margin-bottom: 18px;
  @include m.font($fs: 14px, $fw: 400, $lh: 18px, $ls: -0.01em);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.top-books-category {
  display: flex;
  flex-direction: column;
}

.top-books-category:not(:last-child) {
  margin-bottom: 40px;
}

.more-books-btn {
  margin-top: 8px;
  margin-left: auto;
  padding: 14px 28px;
  @include m.font($fs: 14px, $fw: 700, $lh: 18px, $ls: -0.01em);
  text-transform: uppercase;
  color: var(--primary-text-color);
  background-color: transparent;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  transition: var(--transition);
}

.more-books-btn:active,
.more-books-btn:hover,
.more-books-btn:focus-visible {
  background-color: var(--accent-color);
  color: var(--button-hover-text-color);
}

@media screen and (min-width: 768px) {
  .main-books-list {
    grid-template-columns: repeat(3, 218px);
    column-gap: 25px;
    row-gap: 40px;
  }

  .book-card-cover {
    width: 218px;
    height: 316px;
  }

  .books-cards-list {
    display: grid;
    grid-template-columns: repeat(3, 218px);
    gap: 25px;
  }

  .more-books-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .main-books-list {
    grid-template-columns: repeat(5, 180px);
    column-gap: 24px;
  }

  .book-card-cover {
    width: 180px;
    height: 256px;
  }

  .books-cards-list {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    gap: 24px;
  }

  .more-books-btn {
    margin-top: 32px;
  }
}
