@use "../utils/mixins" as m;

.main-title {
    margin-bottom: 40px;
    @include m.font($fs: 32px, $fw: 700, $lh: 38px);
    color: var(--primary-text-color);
    span {
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .main-title {
      @include m.font($fs: 48px, $fw: 700, $lh: 52px);  
    }
}