.main-section-container {
    padding-top: 40px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.books {
    position: relative;
}

@media screen and (min-width: 768px) {
    .main-section-container {
        padding-bottom: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 472px 1fr;
        column-gap: 32px;
        row-gap: 100px;
        grid-template-areas: 
        "categories new"
        "books books"
        ;
    }

    .categories {
        grid-area: categories;
    }

    .books {
        grid-area: books;
    }

    .support-wrapper {
        grid-area:new ;
    }
}

@media screen and (min-width: 1440px) {
    .main-section-container {
        grid-template-columns: 356px 1fr;
        grid-template-areas: 
        "categories books"
        "new books"
        ;
    }
}