@use "../utils/mixins" as m;

.shopping-list {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-title.main-title-shoppin-list {
    margin-bottom: 120px;
}

.shop-list-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shop-list-empty-message {
    max-width: 244px;
    margin-bottom: 14px;
    @include m.font($fs: 14px, $lh: 18px, $ls:-0.02em);
    text-align: center;
    color: var(--shopping-empty-list-color);
}

@media screen and (min-width: 768px) {
    .main-title.main-title-shoppin-list {
        margin-bottom: 140px;
    }

    .shop-list-empty-message {
        max-width: 350px;
        margin-bottom: 20px;
        @include m.font($fs: 18px, $lh: 18px, $ls:-0.02em);

    }
}

@media screen and (min-width: 1440px) {
    .shopping-list-container {
        display: flex;
        gap: 40px;
    }

    .shopping-list-content {
       flex-grow: 1;
    }

}